.row
  .large-12.columns
    .row
      .large-6.columns
        = link_to root_path do 
          %h2 Gersekarátért Baráti Kör
      .large-6.columns
        .nav-bar.right#nav-bar-top
          %ul.inline-list
            %li{ class: "#{'active' if current_page?(posts_path)}"}
              = link_to "Hírek", posts_path
            %li
              = link_to "Bemutatkozás", bemutatkozas_path
            %li
              = link_to "Projektek", "#"
            %li
              = link_to "Dokumentumok", documents_path
  %hr/