%p#notice= notice

%p
  %b Name:
  = @document.name
%p
  %b Slug:
  = @document.slug
%p
  %b Doc:
  = @document.doc

= link_to 'Edit', edit_document_path(@document)
\|
= link_to 'Back', documents_path
