.row
  .large-8.large-centered.columns
    = simple_nested_form_for @post do |f|
      = f.input :title, label: "Cím"
      = f.input :body, label: "Test", input_html: { rows: 15}
      = f.simple_fields_for :photos do |photo_form|
        = photo_form.input :name
        = photo_form.file_field :image, name: "post[photos_attributes][0][image]"
      /= link_to_add_fields "Kép hozzáadása", f, :photos
      = f.submit "Mentés", class: "button"