= simple_form_for @post do |f|
  = f.input :title, label: "Cím"
  = f.input :body, label: "Test", input_html: { rows: 15}
  = f.input :project, as: :boolean, label: "Projekt?"
  .row
    .large-4.columns
      = f.input :project_year, discard_day: true, discard_month: true, label: "Év"
  = f.submit "Mentés", class: "button"
= render "post_photos"