.row
  .large-9.columns
    - @posts.each do |post|
      .row
        .large-6.columns
          = link_to post do
            %h3
              = post.title
              - if post.photos.any?
                %i.fi-photo{ title: "Galéria"}
        .large-6.columns
          .right 
            %br/
            = post.created_at.to_date
      .row
        .large-12.columns
          = simple_format(truncate(post.body, length: 400, separator: " "))
          %p
            - if post.body.length > 400
              = link_to "Teljes cikk >>", post
      %br/
      %br/