- provide(:title, @post.title)
%h2
  = @post.title
  - if user_signed_in?
    = link_to edit_post_path(@post), title: "Szerkesztés" do
      %i.fi-page-edit
    = link_to post_path(@post), method: :delete, title: "Törlés" do
      %i.fi-trash

%p= simple_format(@post.body)
%p
  = link_to "<< Vissza", root_path

= render "post_photos"