- provide(:title, @post.title)
%h2= @post.title
%p= simple_format(@post.body)
%p
  = link_to "<< Vissza", root_path
- if can? :update, @psot
  %p
    = link_to "Szerkesztés", edit_post_path(@post)
    = link_to "Törlés", post_path(@post), method: :delete
- @post.photos.each do |photo|
  = photo.name
  = photo.image